{% include 'header.html' %}

<div class="container-fluid col-md-8 offset-md-2">
    <form class="form-group" action="/add-blog" method="post">
        {% csrf_token %}
        <h2>Post a message</h2>
        <textarea class="form-control" id="blog" name="blog_text" cols="100" rows="3"></textarea>
        <button type="submit" class="btn  btn-primary ">Post a message</button>
    </form>

    {% for blog in all_blogs %}
    <ul>
        <div class="friend-img"><img src="/static/css/image/default.png" width='50px' height="50px" style="display:inline" alt="">
            <p>{{blog.user.firstname}} {{blog.user.lastname}} | posted @ {{blog.updated_at}}</p>
            <p>{{blog.text}}</p> {% if blog.user.id == request.session.loginID %}
            <a href="/edit/{{blog.id}}">Edit</a> |
            <a href="/erase/{{blog.id}}">Delete</a> {% endif %}</div>
    </ul>


    {% for comment in blog.comments.all %} {% if comment.blog.id == blog.id %}
    <p>{{comment.user.firstname}} {{comment.user.lastname}}| commented @ {{ comment.created_at}} </p>
    <p>{{comment.text}} </p>
    {% endif %} {% endfor %}


    <form class="form-group" action="/add-comment" method="post">
        {% csrf_token %}
        <h2>Add comment </h2>
        <textarea class="form-control" name="comment_text" cols="100" rows="1"></textarea>
        <input type="hidden" name="blog_id" value="{{ blog.id }}" />
        <button type="submit" class="btn  btn-primary ">Post a comment</button>
    </form>
    {% endfor %}



</div>