{% include 'header.html' %}

<div class="container-fluid col-md-8 offset-md-2">
    <form class="form-group" action="/add-blog" method="post">
        {% csrf_token %}
        <h2>Post a message</h2>
        <textarea class="form-control" id="blog" name="blog_text" cols="100" rows="3"></textarea>
        <button type="submit" class="btn  btn-primary ">Post a message</button>
    </form>


    {% for blog in all_blogs %} {{blog.user.firstname}} {{blog.user.lastname}} | posted @ {{blog.updated_at}}
    <p>{{blog.text}}</p> {% if blog.user.id == request.session.userID %} {% endif %}

    <span><a href="/edit/{{blog.id}}">Edit</a></span> |
    <span><a href="/delete/{{blog.id}}">Delete</a></span>


    <form class="form-group" action="/add-comment" method="post">
        {% csrf_token %}
        <h2>Add comment </h2>
        <textarea class="form-control" name="comment_text" cols="100" rows="1"></textarea>
        <input type="hidden" name="blog_id" value="{{ blog.id }}" />
        <button type="submit" class="btn  btn-primary ">Post a comment</button>
    </form>


    {% for comment in blog.comments.all %}

    <p>{{comment.user.firstname}} {{comment.user.lastname}} | commented @ {{ comment.created_at}} </p>
    <p>{{comment.text}} </p>
    {% endfor %} {% endfor %}

</div>