{% include 'partials/nav.html' %}


<body>
    <div class="d-flex justify-content-center ">
        <h1 style="text-transform:uppercase"> {{userlogged.firstname}} Dashboard</h1>
    </div>



    <div class="header bg-primary pb-8 pt-5 pt-md-8 pl-5 pb-5 mt-5">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-2 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0"># of item Consumed</h5>
                                        <span class="h2 font-weight-bold mb-0">{{counts}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Calorie Limit</h5>
                                        <span class="h2 font-weight-bold mb-0">2000/day</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Calories Consumed</h5>
                                        <span class="h2 font-weight-bold mb-0">{{totalcalorie}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Calories Left</h5>
                                        <span class="h2 font-weight-bold mb-0">{{calorieLeft}}</span>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                                        <span class="h2 font-weight-bold mb-0">{{performances}}%</span>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid mt-5">



        <div class="card card-body ">
            <table>
                <tr>
                    <th>Food</th>
                    <th>Calories</th>
                    <th>Fat_total_g</th>
                    <th>Fat_saturated_g</th>
                    <th>Protein_g</th>
                    <th>Potassium_mg</th>
                    <th>Fiber_g</th>
                    <th>Sugar_g</th>
                    <th>cholesterol_mg</th>
                    <th>Carbohydrates_g</th>


                </tr>

                {% if foodset %} {% for item in foodset %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.calories}}</td>
                    <td>{{item.fat_total_g}}</td>
                    <td>{{item.fat_saturated_g}}</td>
                    <td>{{item.protein_g}}</td>
                    <td>{{item.potassium_mg}}</td>
                    <td>{{item.carbohydrates_total_g}}</td>
                    <td>{{item.fiber_g}}</td>
                    <td>{{item.sugar_g}}</td>
                    <td>{{item.cholesterol_mg}}</td>
                    <td><button type="submit " class="btn btn-danger  "><a href="/delete/{{ item.id }}">Delete</a></button></td>

                </tr>
                {% endfor %} {% else %}
                <h1>No record added</h1>
                {% endif %}


            </table>

        </div>
        <button type="submit" class="btn btn-success"> 
        <span ><a href="/add-meal" class="nav-item nav-link">Add</a></span>
        </button>


        </form>
    </div>
    </div>
</body>

</html>