{% include 'header.html' %} {% load static %}
<link rel="stylesheet" href="{% static 'css/style_calorie.css' %}">

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card ">
                    <div class="card-header bg-primary">
                        <h3 class="mb-0">Calculate your food nutritions ...</h3>
                        <!-- <h3 class="mb-0">your helight {{userlogged}} and your web </h3>
                        <h4>{{userlogged.firstname}}</h4> -->
                        <p class="text-muted font-size-sm"> {{userlogged.firstname}} {{userlogged.lastname}}</p>
                    </div>
                    <div class="card-body">
                        <form class="form" action="/add-meal" method="get">
                            {% csrf_token %}
                            <div class="container mt-4">
                                <h3 class="heading mt-5 text-center">Search your food here .... </h3>
                                <div class="form-group">
                                    <input class="form-control input-lg" type="text" id="name" name="name" placeholder="What kind of food you ate?" required>
                                </div>

                            </div>
                    </div>

                    <button type="submit" name="submit" class="btn btn-success btn-lg float-right" id="btnLogin">ADD MY MEAL</button>
                    </form>
                </div>
            </div>
        </div>


        <h1 class="mb-0 bg-primary">Top Searched food</h1>
        <div class="py-5">
            <div class="row">
                {% for item in items %}
                <div class="col-lg-6 mb-5">
                    <!-- Collapse Panel 1-->
                    <a data-toggle="collapse" href="#lists" role="button" aria-expanded="False" aria-controls="lists" class="btn btn-primary btn-block py-2 shadow-sm with-chevron">
                        <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">Food Name : {{item.name}}</strong><i class="fa fa-angle-down"></i></p>
                    </a>
                    <div id="lists" class="collapse shadow-sm show">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h6 class="card-subtitle mb-2 text-muted">sugar_g: {{item.sugar_g}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Fiber: {{item.fiber_g}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">serving size: {{item.serving_size_g}}</h6>
                                </div>
                                <div class="row">
                                    <h6 class="card-subtitle mb-2 text-muted">sodium_mg: {{item.sodium_mg}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">potassium_mg: {{item.potassium_mg}} </h6>
                                    <h6 class="card-subtitle mb-2 text-muted">fat_saturated_g: {{item.fat_saturated_g}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">fat_total_g: {{item.fat_total_g}}</h6>
                                </div>
                                <div class="row">
                                    <h6 class="card-subtitle mb-2 text-muted">calories: {{item.calories}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">cholesterol_mg: {{item.cholesterol_mg}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">protein_g: {{item.protein_g}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">carbohydrates_total_g: {{item.carbohydrates_total_g}}</h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>



    </div>



</body>