.with-chevron[aria-expanded='true'] i {
    display: block;
    transform: rotate(180deg) !important;
}

body {
    min-height: 100vh;
    background-color: #fafafa;
}

h6 {
    text-align: justify;
}